packages: [
  "atom-beautify"
  "atom-terminal"
  "atom-typescript"
  "base16-syntax"
  "busy-signal"
  "cson"
  "editorconfig"
  "emmet"
  "file-icons"
  "git-control"
  "git-time-machine"
  "highlight-selected"
  "intentions"
  "jslint"
  "language-apache"
  "language-awk"
  "language-blade"
  "language-cmake"
  "language-csv"
  "language-ejs"
  "language-fish-shell"
  "language-generic-config"
  "language-haml"
  "language-ini"
  "language-latex"
  "language-lua"
  "language-patch"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-php"
  "linter-ruby"
  "linter-ui-default"
  "linter-write-good"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "package-sync"
  "php-integrator-linter"
  "pigments"
  "project-manager"
  "qolor"
  "tablr"
  "wakatime"
]
